@using CRM.Entity.Search.Customer
@model PersonCaseSearchModel
@{
    ViewData["Title"] = "Person Cases";
}
<input type="hidden" asp-for="TargetGridId" />
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><sort display-name="Id" column-name="CaseId" /></th>
                <th><sort display-name="Details" column-name="Details" /></th>
                <th><sort display-name="Status" column-name="CaseStatus" /></th>
                <th><sort display-name="Type" column-name="CaseType" /></th>
                <th><sort display-name="Priority" column-name="Priority/Name" /></th>
                <th><sort display-name="Logged at" column-name="DateTime" /></th>
                <th class="text-right">Logged by <button type="button" id="btnAddPersonCase" onclick="displayAddPersonCase(@Model.PersonId)" class="btn btn-success fa fa-plus">Add</button></th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.PersonCaseSearchResult.Any())
        {
            foreach (var item in Model.PersonCaseSearchResult)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaisedOn)
                </td>
                <td class="text-right">
                    <button type="button" id="btnEditPerson_@item.Id" onclick="displayEditPersonCase('@item.Id')" class="btn btn-warning fa fa-edit">Edit</button>
                </td>
            </tr>
            }
        }
        else
        {
           
            <tr>
                <td>1</td>
                <td>Customer called regarding leaking window</td>
                <td>Open</td>
                <td>Repair</td>
                <td>High</td>
                <td>12 June 2017</td>
                <td class="text-right">Nico</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Customer called regarding status of VBL Application.</td>
                <td>Open</td>
                <td>Query</td>
                <td>Medium</td>
                <td>1 June 2017</td>
                <td class="text-right">Nabin</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Casual call to get some information </td>
                <td>Closed</td>
                <td>Anonymos</td>
                <td>low</td>
                <td>10 June 2017</td>
                <td class="text-right">Andy</td>
            </tr>

        }
        </tbody>
        <tfoot>
            <tr>
                <td class="tc" colspan="12">
                    <pageing />
                </td>
            </tr>
        </tfoot>
    </table>
</div>