@model CRM.Entity.Search.Employee.AuditSearchModel
@{
    ViewData["Title"] = "Person Change Log";
}
<form asp-action="ChangeLogGrid" method="GET">
    
    <input type="hidden" asp-for="@Model.TargetGridId" />
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.SelectedTable" />
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="display: none">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("ChangeLogGrid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="ibox">
    <div class="pull-left">
        <button type="button" onclick="$('#tabCalendar').click();" class="btn btn-primary">Calendar</button>
    </div>
    <div class="pull-right">
        <button type="button" onclick="$('#tabContactDetail').click();" class="btn btn-warning">Contact Details</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        attachSearchGridEvents();
        $('.btn-filter').click();
    });
</script>

