@model CRM.Entity.Search.Customer.TenantHistoryViewSearchModel
@{
    ViewData["Title"] = "Tanant History";
}
<input type="hidden" asp-for="TargetGridId" />
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Property Code</th>
                <th>Tenant Code</th>
                <th>Tenancy Reference</th>
                <th>Tenancy Type</th>
                <th>Tenancy Status</th>
                <th>Tenancy Start Date</th>
                <th>Tenancy End Date</th>
                <th>IsMainTenant?</th>
                <th>Current Balance</th>
                <th>Rent Group</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TenantHistoryViewSearchResult)
            {
            <tr>

                <td>
                    @item.PropertyCode
                </td>
                <td>
                    @item.TenantCode
                </td>
                <td>
                    @item.TenancyReference
                </td>
                <td>
                    @item.TenancyType
                </td>
                <td>
                    @item.TenancyStatus
                </td>
                <td>
                    @item.TenancyStartDate
                </td>
                <td>
                    @item.TenancyEndDate
                </td>
                <td>
                    @item.IsMainTenant
                </td>
                <td>
                    @item.CurrentBalance
                </td>
                <td>
                    @item.RentGroupDescription
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>