@using CRM.Entity.Model
@model CRM.Entity.Search.Employee.RoleSearchModel
@{
    ViewData["Title"] = "Application Role";
}
<form asp-action="RoleGrid" method="get">
    <input type="hidden" asp-for="@Model.TargetGridId" />
    <input type="hidden" asp-for="@Model.ApplicationId" />
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("RoleGrid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Partial("ModalDialog", new ModalDialogViewModel { ParentDivId = "divApplicationRoleParent" })
<script type="text/javascript">
    $(function () {
        attachSearchGridEvents();
        $('.btn-filter').click();
    });
    function displayEditApplicationRole(id) {
        var url = "/Role/Edit?id=" + id;
        showDialog("divApplicationRoleParent", "frmApplicationRole", url, "Edit Role");
    }
    function displayAddApplicationRole(applicationId) {
        var url = "/Role/Add?applicationId=" + applicationId;
        showDialog("divApplicationRoleParent", "frmApplicationRole", url, "Add Role");
    }
</script>

