@model CRM.Entity.Search.Common.PropertyVoidViewSearchModel
@{
    ViewData["Title"] = "Voids";
}
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th >
                <sort display-name="Void Id" column-name="VoidId" />
            </th>
            <th >
                <sort display-name="Tenancy Status" column-name="TenancyStatus" />
            </th>
            <th>
                <sort display-name="Tenancy Type" column-name="TenancyType" />
            </th>
            <th>
                <sort display-name="Tenancy Ref" column-name="TenancyRef" />
            </th>
            <th >
                <sort display-name="Termination Reason" column-name="SignedTerminationReason" />
            </th>
            <th>
                <sort display-name="Signup Date" column-name="CustomerSignUpDate" />
            </th>
            <th>
                <sort display-name="Signup TenancyType" column-name="CustomerSignUpTenancyType" />
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model.PropertyVoidViewSearchResult.Any())
        {
            foreach (var item in Model.PropertyVoidViewSearchResult)
            {
            <tr>
                <td>@item.VoidId </td>
                <td>@item.TenancyStatus </td>
                <td>@item.TenancyType </td>
                <td>@item.TenancyRef </td>
                <td>@item.SignedTerminationReason </td>
                <td>@item.CustomerSignUpDate </td>
                <td>@item.CustomerSignUpTenancyType </td>
            </tr>
            }
        }
        </tbody>
        <tfoot>
        <tr>
            <td class="tc" colspan="12">
                <pageing />
            </td>
        </tr>
        </tfoot>
    </table>
</div>