@model CRM.Entity.Model.Common.EmailDto
<div class="ibox float-e-margins">
    <div class="ibox-content mailbox-content">
        <div class="file-manager">
            <a class="btn btn-block btn-primary compose-mail" href="@Url.Action("ComposeEmail", "Email")">Compose Mail</a>
            <div class="space-25"></div>
            <h5>Folders</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
                <li><a href="@Url.Action("Inbox", "Email")"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">16</span> </a></li>
                <li><a href="@Url.Action("Inbox", "Email")"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                <li><a href="@Url.Action("Inbox", "Email")"> <i class="fa fa-certificate"></i> Important</a></li>
                <li><a href="@Url.Action("Inbox", "Email")"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
                <li><a href="@Url.Action("Inbox", "Email")"> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul>
            <h5>Categories</h5>
            <ul class="category-list" style="padding: 0">
                @foreach (var item in Model.EmailCategories)
                {
                    <li><a  onclick="updateCategoryToEmail()"> <i class="fa fa-circle text-@item.CssClass"></i>  @item.Name </a></li>
                }
            </ul>
            <h5 class="tag-title">Labels</h5>
            <ul class="tag-list" style="padding: 0">
                @foreach (var item in Model.EmailLabelTypes)
                {
                    <li><a onclick="updateLabelToEmail()"><i class="fa fa-tag"></i> @item.Name</a></li>
                }
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>